
  
   
  <nav  class="navbar navbar-light bg-light">
    
    <div class="container-fluid">
      <h1 (click)="homenavigatiofuntion()"> Kitchen Story </h1>
      
      <div id="searchbarform">
      <form class="d-flex" >
       
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
        <button class="btn btn-outline-success" type="submit">Search</button> -->

       
      </form>
    </div>
      <div   >
        
         <button id="btnsign" class="btn btn-light" (click)="signInnavigatiofuntion()"> LogIn</button> 
         <button id="btnsign" class="btn btn-light" (click)="signUpnavigatiofuntion()"> SignUp</button> 
          
     </div>
      
    </div>
  </nav>
 